/* 	-------------------------------------------------
 	Animations
	------------------------------------------------- */
/* 	-------------------------------------------------
 	Media Wraps
	------------------------------------------------- */
.clear:after {
  content: '';
  display: block;
  clear: both;
}
body {
  background: #12161b;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(245, 245, 245, 0.65);
}
body strong {
  color: #fff;
}
html,
body {
  height: 100%;
}
body > .wrap {
  min-height: 100%;
}
h1 {
  color: #fff;
}
a {
  color: #fff;
  word-break: break-word;
}
a:hover,
a:focus {
  color: #fff;
}
a.no-page {
  color: #a43a39;
  font-style: italic;
}
a[name] {
  display: block;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
}
.toggle-collpase {
  font-size: 0.65em;
  text-transform: none;
  text-decoration: none !important;
}
.toggle-collpase:before {
  content: '[ hide ]';
}
.toggle-collpase.collapsed:before {
  content: '[ show ]';
}
.toc ol {
  list-style: decimal;
  counter-reset: item;
  padding: 0;
}
.toc ol ol {
  padding-left: 20px;
}
.toc li {
  display: block;
}
.toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  margin-right: 6px;
}
#top {
  background: #2a333e;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  margin: 0;
}
#top .navbar-nav > li > a {
  text-shadow: none;
}
#top .navbar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #1e242b;
}
#top .navbar-nav ul a {
  display: block;
  padding: 15px;
  white-space: nowrap;
  text-decoration: none;
}
#top .navbar-toggle:hover,
#top .navbar-toggle:focus {
  background: rgba(0, 0, 0, 0.2);
}
#top .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top a {
  color: #fff;
}
#top .active a,
#top a:hover,
#top a:focus {
  background: rgba(0, 0, 0, 0.2);
}
#top #forkme_banner {
  background: url('../images/blacktocat.png') #0090ff no-repeat 92% 50%;
  padding-right: 52px;
}
@media (min-width: 768px) {
  #top .navbar-nav > li:hover > a {
    background: rgba(0, 0, 0, 0.2);
  }
  #top .navbar-nav > li:hover ul {
    display: block;
  }
  #top .navbar-nav > li:hover ul a {
    min-width: 150px;
  }
  #top .navbar-nav ul {
    position: absolute;
    display: none;
  }
}
@media (max-width: 767px) {
  #top .navbar-nav ul {
    background: none;
  }
  #top .navbar-nav ul a {
    padding-left: 30px;
  }
}
#header {
  padding-top: 30px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid;
  margin-bottom: 30px;
}
#content .inner {
  background: rgba(245, 245, 245, 0.05);
  padding: 20px;
}
#content .inner p {
  margin: 0;
}
#content .inner p + p {
  margin-top: 10px;
}
#content .inner .table {
  word-break: break-word;
  margin-top: 20px;
}
#content .inner .table .active {
  background: none;
}
#content .inner .table,
#content .inner .table th,
#content .inner .table td {
  border-color: rgba(245, 245, 245, 0.1);
}
#content .inner .table th {
  border-bottom: none;
  width: 80px;
}
#content .inner .table td {
  color: rgba(245, 245, 245, 0.65);
}
#content .inner hr {
  border-top-color: rgba(245, 245, 245, 0.1);
}
#content .inner h2,
#content .inner h3,
#content .inner h4,
#content .inner h5,
#content .inner h6 {
  color: #f2c161;
  text-transform: uppercase;
}
#content .inner h2 {
  font-size: 1.3em;
  border-bottom: 1px solid rgba(245, 245, 245, 0.1);
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#content .inner h3,
#content .inner h4,
#content .inner h5,
#content .inner h6 {
  color: #fff;
  font-size: 1em;
}
#content .inner ul {
  margin-top: 10px;
}
#content .inner code {
  color: inherit;
  background: rgba(245, 245, 245, 0.05);
}
#content .inner pre {
  border: none;
  border-radius: 0;
  background: rgba(245, 245, 245, 0.05);
  margin-top: 20px;
  margin-bottom: 30px;
}
#content .inner pre code {
  background: none;
  color: #fff;
}
#content .inner pre code .hljs-string {
  color: #f2c161;
}
#content .inner pre code .hljs-number {
  color: #5ea16a;
}
#content .inner pre code .hljs-meta,
#content .inner pre code .hljs-keyword {
  color: #4887ba;
}
#content .inner pre code .hljs-title {
  color: #f2c161;
}
#content .inner pre code .hljs-built_in {
  color: #b184c5;
}
#content .inner pre.collapse {
  position: relative;
  display: block;
  overflow: visible;
  padding-bottom: 20px;
}
#content .inner pre.collapse.collapsed code {
  max-height: 100px;
  overflow: hidden;
}
#content .inner pre.collapse .expand-code {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 6px 10px;
  text-decoration: none;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(50%);
  -moz-transform: translateX(-50%) translateY(50%);
  -o-transform: translateX(-50%) translateY(50%);
  transform: translateX(-50%) translateY(50%);
}
#content .inner .edit-link {
  float: right;
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  border-radius: 8px;
  text-decoration: none;
}
#content .inner .wiki-builder {
  display: none;
}
#api-test form:after {
  content: '';
  display: block;
  clear: both;
}
#api-test legend {
  color: #f2c161;
  border-bottom: 1px solid rgba(245, 245, 245, 0.1);
  padding-bottom: 8px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}
#api-test input.ng-invalid,
#api-test select.ng-invalid,
#api-test textarea.ng-invalid {
  box-shadow: 0 0 0px 3px rgba(255, 0, 0, 0.8);
}
#api-test code {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  word-break: break-all;
}
#api-test hr {
  clear: both;
}
#api-test .btn.pull-right {
  margin-bottom: 20px;
}
#api-test .form-group-auth textarea {
  height: 78px;
  resize: none;
}
#api-test .form-group-auth .btn {
  display: block;
  margin-top: 10px;
  width: 100%;
}
@media (min-width: 768px) {
  #api-test .form-group * + * + * {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  #api-test .form-group * + * + * {
    margin-top: 10px;
  }
}
#footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.3);
}
